<div class="container mx-auto p-4 flex flex-col grid justify-items-center">
    <div class="w-1/3 px-4 ">
        <header class="mb-5 mt-1">
            <img src="assets/images/redeban.png" alt="logo-redeban">
        </header>
        <div class="pt-3 pb-1 bg-white px-5 rounded-lg">
            <h1 class="text-center text-2xl mb-5 font-bold text-blue-800">Inicia Sesión</h1>
            <p>
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Correo electrónico o número tele</mat-label>
                    <input matInput placeholder="johndoe@micomercio.com">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Contraseña</mat-label>
                    <input matInput placeholder="Tu contraseña va aquí">
                </mat-form-field>
            </p>
            <div class="pl-5 pb-5">
                <re-captcha (resolved)="resolved($event)" siteKey="6LeTJ18aAAAAABrs43dcPq9UeOdaZU9To28YAXqp
            "></re-captcha>
            </div>
            <p>
                <a routerLink="/">
                    <button mat-stroked-button
                        style="background: linear-gradient(to right, #DB301C, #41125D, #241D75, #053CA3, #247AC0, #4F964A); color: #ffff; height: 55px; border-radius: 5px;"
                        class="w-full">INGRESAR
                        <mat-icon matSuffix>arrow_right_alt</mat-icon>
                    </button>
                </a>
            </p>
            <p class="text-center mt-3 pb-3">
                <a routerLink="/recover-pass" class="text-primary underline hover:no-underline text-blue-800">¿Olvidaste
                    tu
                    contraseña?</a>
            </p>
        </div>
    </div>
</div>